
<div class="row">
    <div class="col-md-12">
        <div style="font-size: large ; color: black ;margin-top: 15%; padding-left: 30%; padding-right: 30%">
            <h1 style="font-family: Castellar;"> <center>About Us</center> </h1>
            <hr style="color: black" />
            <hr class="star-primary" style="font-weight: bolder">
            <div class="container">

                <div style="font-family:Bodoni MT Black;">
                    <p>
                        We are providing a king of social services ...<br /> providing you a better oppertunity to look<br />
                        arround all over the world.... We are <br />simply providing you a plateform where You people<br />
                        Can discuss Your Ideas.. Knowledge.. share <br /> problems can discuss on issues...
                    </p>
                </div>
                <div style="margin-left: 50% ; margin-top: -15%">
                    <img src="/Bootstrap/Images/img3.jpg" class="img-rounded" alt="Cinque Terre" width="306" height="236">
                </div>
            </div>
        </div>

    </div>
</div>



    