
<div class="row">
    <div class="col-md-12">
        <div style="background-image: url('/Bootstrap/Images/bg1.jpg') ; width: 100% ; height: 100% ; color: black;">

            <div style="font-size: large ; color: black;margin-top: 10%; padding-left: 30%; padding-right: 30%">
                <h1 style="font-family: Castellar"> <center>Worth To Know</center> </h1>
                <hr class="star-primary" style="font-weight: bolder">
                <div class="container">

                    <div style="font-family:Bodoni MT Black">
                        <p>
                            Here ! yOU CAN Make Your own account...<br />
                            You can login to your acount anytime<br />
                            Here you can post any text .. Image , <br />
                            You can also see the Post of other members and may b like them <br />


                        </p>
                    </div>
                    <h1 style="font-family: Castellar; margin-left: -76%"> <center>Features</center> </h1>
                    <div style="font-family:Bodoni MT Black ;">
                        <p>
                            U Can Make Your Unique Account,...<br />
                            U can Post <strong> Images Post , Vedio POst , Audio Post</strong><br />
                            U can make Friend  <br />
                            U can send messages to the friends <br />
                            Ucan Like a post <br />
                            U can Delete Your POst<br />
                            U can see POsts of Your Friend<br />
                            U can Commnet on your post<br />
                            U can Comment on the post of your friend <br />
                            U can Change Your Cover Page<br />
                            U can Change Your Profile Pictue <br />
                            You can also see the Post of other members and may b like them <br />


                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
