@using EADprojectBitf12m029.Models

@{
    Layout = "~/Views/Shared/UserShared.cshtml";
}

<div class="container" style="margin-left: 20%; margin-top: 10%">
    @foreach (var p in Model)
    {
        foreach (var q in ViewBag.Msg)
        {
            if (p.img != null)
            {
                <div class="product_img">
                    <img class="img-circle" src=@p.img alt="Image" border="0" style="margin-left: 10.5%; width: 100px; height: 125px" />
                </div>
            }
            if (p.img == null)
            {
                <div class="product_img">
                    <img class="img-circle" src="/Bootstrap/Images/img1.jpg" alt="Image" border="0" style="margin-left: 10.5%; width: 25px; height: 25px" />
                </div>
            }
            <div class="product_img" style="">
                <p class="title_box" style="margin-left:-35%; width: 100%; height: 50px; font-size: xx-large; color: black">@p.UserName</p>
            </div>

            <div id="myDiv" class="product_img" style="color: white; background-image: url('/Bootstrap/Images/bg1.jpg')">
               
                @using (Html.BeginForm("Message", "Home", FormMethod.Post))
                {
                      <h4  style="margin-left: 25.5%; margin-top: -15%;  width: 150px; color: black">Message&nbsp&nbsp|</h4>
                     <p  style="margin-left: 40%; margin-top: -3.25%;  width: 400px; color: black">@q.Message</p>
                    <h4 style="color: black; margin-left: -80%">Reply</h4>
                    <textarea name="cat" style="margin-left: 25.5%; margin-top: -5%; width: 400px; color: black"></textarea>

                    <input value=@q.Sender name="id" type="hidden" />
                    <input type="submit" value="Reply" class="btn btn-info btn-navbar" style="margin-left:62%; margin-top: -7%" />
                    Html.EndForm();
                }


            </div>
        break;
        }
    }

</div>
